---
import Counter from '../components/Counter';
import Loaddata from '../components/Loaddata';

// Use the current origin so this works in dev/preview/prod
const res = await fetch(new URL('/api/posts.json', Astro.url));
const posts = await res.json();


---
<h2>Hello, Astro!</h2>

<Loaddata client:visible></Loaddata>


<Counter client:media="(min-width:768px)"></Counter>
